<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TT_Gen_1.My.MySettings.DB_evenConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\DB_even.accdb"
            providerName="System.Data.OleDb" />
        <add name="TT_Gen_1.My.MySettings.DB_oddConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\DB_odd.accdb"
            providerName="System.Data.OleDb" />
        <add name="TT_Gen_1.My.MySettings.DB_room_EVENConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\DB_room_EVEN.accdb"
            providerName="System.Data.OleDb" />
        <add name="TT_Gen_1.My.MySettings.DB_room_ODDConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\DB_room_ODD.accdb"
            providerName="System.Data.OleDb" />
        <add name="TT_Gen_1.My.MySettings.DB_teacher_EVENConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\DB_teacher_EVEN.accdb"
            providerName="System.Data.OleDb" />
        <add name="TT_Gen_1.My.MySettings.DB_teacher_ODDConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\DB_teacher_ODD.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>